<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <!-- Wybór tła -->
    <setting propertyKey="@Properties.BackgroundChoice" title="@Strings.BackgroundChoiceTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Background1</listEntry>
            <listEntry value="2">@Strings.Background2</listEntry>
            <listEntry value="3">@Strings.Background3</listEntry>
            <listEntry value="4">@Strings.Background4</listEntry>
            <listEntry value="5">@Strings.Background5</listEntry>
            <listEntry value="6">@Strings.Background6</listEntry>
            <listEntry value="7">@Strings.Background7</listEntry>
            <listEntry value="8">@Strings.Background8</listEntry>
            <listEntry value="9">@Strings.Background9</listEntry>
            <listEntry value="10">@Strings.Background10</listEntry>
            <listEntry value="11">@Strings.Background11</listEntry>
            <listEntry value="12">@Strings.Background12</listEntry>
            <listEntry value="13">@Strings.Background13</listEntry>
        </settingConfig>
    </setting>

    <!-- Wybór fontu -->
    <setting propertyKey="@Properties.FontChoice" title="@Strings.FontChoiceTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.FontH</listEntry>
            <listEntry value="2">@Strings.FontG</listEntry>
            <listEntry value="3">@Strings.FontS</listEntry>
            <listEntry value="4">@Strings.FontT</listEntry>
            <listEntry value="5">@Strings.FontO</listEntry>
        </settingConfig>
    </setting>

    <!-- ============================================ -->
    <!-- GÓRNE POLE                                  -->
    <!-- ============================================ -->
    <setting propertyKey="@Properties.UpperFieldData" title="@Strings.UpperFieldDataTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DataNone</listEntry>
            <listEntry value="1">@Strings.DataTime</listEntry>
            <listEntry value="2">@Strings.DataDate</listEntry>
            <listEntry value="3">@Strings.DataHeartRate</listEntry>
            <listEntry value="4">@Strings.DataTemperature</listEntry>
            <listEntry value="5">@Strings.DataSteps</listEntry>
            <listEntry value="6">@Strings.DataBattery</listEntry>
            <listEntry value="7">@Strings.DataCalories</listEntry>
            <listEntry value="8">@Strings.DataFloors</listEntry>
            <listEntry value="9">@Strings.DataAltitude</listEntry>
            <listEntry value="10">@Strings.DataNotifications</listEntry>
            <listEntry value="11">@Strings.DataSeconds</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.UpperFieldColor" title="@Strings.UpperFieldColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.UpperFieldColorCustom" title="@Strings.UpperFieldColorCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- ============================================ -->
    <!-- ŚRODKOWE POLE                               -->
    <!-- ============================================ -->
    <setting propertyKey="@Properties.MiddleFieldData" title="@Strings.MiddleFieldDataTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DataNone</listEntry>
            <listEntry value="1">@Strings.DataTime</listEntry>
            <listEntry value="2">@Strings.DataDate</listEntry>
            <listEntry value="3">@Strings.DataHeartRate</listEntry>
            <listEntry value="4">@Strings.DataTemperature</listEntry>
            <listEntry value="5">@Strings.DataSteps</listEntry>
            <listEntry value="6">@Strings.DataBattery</listEntry>
            <listEntry value="7">@Strings.DataCalories</listEntry>
            <listEntry value="8">@Strings.DataFloors</listEntry>
            <listEntry value="9">@Strings.DataAltitude</listEntry>
            <listEntry value="10">@Strings.DataNotifications</listEntry>
            <listEntry value="11">@Strings.DataSeconds</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MiddleFieldColor" title="@Strings.MiddleFieldColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MiddleFieldColorCustom" title="@Strings.MiddleFieldColorCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- ============================================ -->
    <!-- DOLNE POLE                                  -->
    <!-- ============================================ -->
    <setting propertyKey="@Properties.LowerFieldData" title="@Strings.LowerFieldDataTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DataNone</listEntry>
            <listEntry value="1">@Strings.DataTime</listEntry>
            <listEntry value="2">@Strings.DataDate</listEntry>
            <listEntry value="3">@Strings.DataHeartRate</listEntry>
            <listEntry value="4">@Strings.DataTemperature</listEntry>
            <listEntry value="5">@Strings.DataSteps</listEntry>
            <listEntry value="6">@Strings.DataBattery</listEntry>
            <listEntry value="7">@Strings.DataCalories</listEntry>
            <listEntry value="8">@Strings.DataFloors</listEntry>
            <listEntry value="9">@Strings.DataAltitude</listEntry>
            <listEntry value="10">@Strings.DataNotifications</listEntry>
            <listEntry value="11">@Strings.DataSeconds</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LowerFieldColor" title="@Strings.LowerFieldColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LowerFieldColorCustom" title="@Strings.LowerFieldColorCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- ============================================ -->
    <!-- LEWE POLE                                   -->
    <!-- ============================================ -->
    <setting propertyKey="@Properties.LeftFieldData" title="@Strings.LeftFieldDataTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DataNone</listEntry>
            <listEntry value="1">@Strings.DataTime</listEntry>
            <listEntry value="2">@Strings.DataDate</listEntry>
            <listEntry value="3">@Strings.DataHeartRate</listEntry>
            <listEntry value="4">@Strings.DataTemperature</listEntry>
            <listEntry value="5">@Strings.DataSteps</listEntry>
            <listEntry value="6">@Strings.DataBattery</listEntry>
            <listEntry value="7">@Strings.DataCalories</listEntry>
            <listEntry value="8">@Strings.DataFloors</listEntry>
            <listEntry value="9">@Strings.DataAltitude</listEntry>
            <listEntry value="10">@Strings.DataNotifications</listEntry>
            <listEntry value="11">@Strings.DataSeconds</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LeftFieldColor" title="@Strings.LeftFieldColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LeftFieldColorCustom" title="@Strings.LeftFieldColorCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- ============================================ -->
    <!-- PRAWE POLE                                  -->
    <!-- ============================================ -->
    <setting propertyKey="@Properties.RightFieldData" title="@Strings.RightFieldDataTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DataNone</listEntry>
            <listEntry value="1">@Strings.DataTime</listEntry>
            <listEntry value="2">@Strings.DataDate</listEntry>
            <listEntry value="3">@Strings.DataHeartRate</listEntry>
            <listEntry value="4">@Strings.DataTemperature</listEntry>
            <listEntry value="5">@Strings.DataSteps</listEntry>
            <listEntry value="6">@Strings.DataBattery</listEntry>
            <listEntry value="7">@Strings.DataCalories</listEntry>
            <listEntry value="8">@Strings.DataFloors</listEntry>
            <listEntry value="9">@Strings.DataAltitude</listEntry>
            <listEntry value="10">@Strings.DataNotifications</listEntry>
            <listEntry value="11">@Strings.DataSeconds</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.RightFieldColor" title="@Strings.RightFieldColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.RightFieldColorCustom" title="@Strings.RightFieldColorCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- ============================================ -->
    <!-- KOLORY BATERII                              -->
    <!-- ============================================ -->
    <setting propertyKey="@Properties.BatteryColorFull" title="@Strings.BatteryColorFullTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BatteryColorFullCustom" title="@Strings.BatteryColorFullCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.BatteryColorMid" title="@Strings.BatteryColorMidTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BatteryColorMidCustom" title="@Strings.BatteryColorMidCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.BatteryColorLow" title="@Strings.BatteryColorLowTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlack</listEntry>
            <listEntry value="3">@Strings.ColorRed</listEntry>
            <listEntry value="4">@Strings.ColorDarkRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="7">@Strings.ColorBlue</listEntry>
            <listEntry value="8">@Strings.ColorYellow</listEntry>
            <listEntry value="9">@Strings.ColorOrange</listEntry>
            <listEntry value="10">@Strings.ColorPurple</listEntry>
            <listEntry value="11">@Strings.ColorPink</listEntry>
            <listEntry value="12">@Strings.ColorCyan</listEntry>
            <listEntry value="13">@Strings.ColorTeal</listEntry>
            <listEntry value="14">@Strings.ColorGold</listEntry>
            <listEntry value="15">@Strings.ColorSilver</listEntry>
            <listEntry value="16">@Strings.ColorLime</listEntry>
            <listEntry value="17">@Strings.ColorCoral</listEntry>
            <listEntry value="18">@Strings.ColorNavy</listEntry>
            <listEntry value="19">@Strings.ColorBeige</listEntry>
            <listEntry value="20">@Strings.ColorGray</listEntry>
            <listEntry value="21">@Strings.ColorCustom</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BatteryColorLowCustom" title="@Strings.BatteryColorLowCustomTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- ============================================ -->
    <!-- JEDNOSTKI I FORMAT                          -->
    <!-- ============================================ -->
    <setting propertyKey="@Properties.TemperatureUnit" title="@Strings.TemperatureUnitTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Celsius</listEntry>
            <listEntry value="2">@Strings.Fahrenheit</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TemperatureSource" title="@Strings.TemperatureSourceTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.TempWeather</listEntry>
            <listEntry value="2">@Strings.TempSensor</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.AltitudeUnit" title="@Strings.AltitudeUnitTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.AltitudeMeters</listEntry>
            <listEntry value="2">@Strings.AltitudeFeet</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>