<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <!-- Wybór tła -->
    <setting propertyKey="@Properties.BackgroundChoice" title="@Strings.BackgroundChoiceTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Background1</listEntry>
            <listEntry value="2">@Strings.Background2</listEntry>
            <listEntry value="3">@Strings.Background3</listEntry>
            <listEntry value="4">@Strings.Background4</listEntry>
            <listEntry value="5">@Strings.Background5</listEntry>
            <listEntry value="6">@Strings.Background6</listEntry>
            <listEntry value="7">@Strings.Background7</listEntry>
            <listEntry value="8">@Strings.Background8</listEntry>
            <listEntry value="9">@Strings.Background9</listEntry>
            <listEntry value="10">@Strings.Background10</listEntry>
            <listEntry value="11">@Strings.Background11</listEntry>
            <listEntry value="12">@Strings.Background12</listEntry>
            <listEntry value="13">@Strings.Background13</listEntry>
        </settingConfig>
    </setting>

    <!-- Wybór fontu -->
    <setting propertyKey="@Properties.FontChoice" title="@Strings.FontChoiceTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.FontH</listEntry>
            <listEntry value="2">@Strings.FontG</listEntry>
            <listEntry value="3">@Strings.FontS</listEntry>
            <listEntry value="4">@Strings.FontT</listEntry>
            <listEntry value="5">@Strings.FontO</listEntry>
        </settingConfig>
    </setting>

    <!-- Kolory HEX -->
    <setting propertyKey="@Properties.TimeColor" title="@Strings.TimeColorTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.DateColor" title="@Strings.DateColorTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.HeartRateColor" title="@Strings.HeartRateColorTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.TemperatureColor" title="@Strings.TemperatureColorTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.StepsColor" title="@Strings.StepsColorTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- Kolory baterii -->
    <setting propertyKey="@Properties.BatteryColorFull" title="@Strings.BatteryColorFullTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.BatteryColorMid" title="@Strings.BatteryColorMidTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <setting propertyKey="@Properties.BatteryColorLow" title="@Strings.BatteryColorLowTitle">
        <settingConfig type="alphaNumeric" maxLength="6" />
    </setting>

    <!-- Jednostka temperatury -->
    <setting propertyKey="@Properties.TemperatureUnit" title="@Strings.TemperatureUnitTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Celsius</listEntry>
            <listEntry value="2">@Strings.Fahrenheit</listEntry>
        </settingConfig>
    </setting>

    <!-- Źródło temperatury -->
    <setting propertyKey="@Properties.TemperatureSource" title="@Strings.TemperatureSourceTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.TempWeather</listEntry>
            <listEntry value="2">@Strings.TempSensor</listEntry>
        </settingConfig>
    </setting>

    <!-- Format 24h -->
    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>